.project
.settings
.metadata
*redcar*
*geany*
*error_log*
.DS_Store
*.sublime-*
node_modules
files/big_bang/creation

space-settler/cache/*
!space-settler/cache/index.html
!space-settler/cache/.htaccess

space-settler/logs/*
!space-settler/logs/index.html
!space-settler/logs/.htaccess