# Deny from 192.168.1.1

Options -Indexes
Options +FollowSymLinks

DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /space-settler/

	RewriteCond %{REQUEST_FILENAME} !index.php
	RewriteRule (.*)\.php$ index.php/$1

	RewriteCond %{REQUEST_URI} ^engine.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]

	RewriteCond %{REQUEST_URI} ^space-settler.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>

<ifModule mod_headers.c>
	<filesMatch "\.(jpg|png|css|js)$">
		Header set Cache-Control "max-age=604800, public"
	</filesMatch>
</ifModule>

<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
</ifModule>