@charset "utf8";

/* Support section */
#support_table
{
	display:	table;
	border:		2px solid #000;
}

.support_table-row
{
	display:	table-row;
}

.support_table-cell
{
	display:	table-cell;
	text-align:	center;
	padding:	5px;
	border:		1px solid #000;
}

#support_replies
{
	background-color: gray;	
}

/* MENU */
#menu
{
	min-width:	150px;
	max-width:	200px;
	width:		30%;
	float:		left;
}

/* CONTENT */
#content
{
	float:		left;
	width:		70%;
}